<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >
    <div class=" d-flex align-items-center">
      <%= gravatar_for message.user, size: 20 %> 
      <h6 class="name"> <%= message.user.email %> </h6>
    </div>
    <%= message.message %>
  </div>
</div>
