<div class="blog-comment">
    <div class="item-comment" id="<%= dom_id comment %>">
        <%= render "shared/edit", comment: comment %>
        <div class="total-react" id="total-react-<%= comment.id %>">
            <%= render "reacts/total_view", micropost: comment%>
        </div>
        <div class="button-box-react" id="button-box-react-<%= comment.id %>">
            <div class="box-react" id="box-react-<%= comment.id %>">
                <%= render 'reacts/react', micropost: comment%>
            </div>
            <div class="button-check" id="box-check-<%= comment.id %>">
                <%= render "reacts/image_check_icon", micropost: comment %>
            </div>
        </div>
        <div class="footer-cmt">
            <span class="timestamp">
                Comment <%= time_ago_in_words(comment.created_at) %> ago.
            </span> 
            <div class="box-btn-option">
                <div class="btn-reply btn-reply-<%= dom_id comment %>" id="<%= dom_id comment %>">
                    <span class="btn-content">Reply</span>
                </div>
                <% if current_user?(User.find_by(id: comment.user_id))%>
                    <div class="btn-edit btn-edit-<%= dom_id comment %>" id="<%= dom_id comment %>">
                        <span class="btn-content">Edit</span>
                    </div>
                    <div class="delete-comment">
                        <%= link_to "Delete", comment, data: { turbo_method: :delete, confirm: "You sure?" }  %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="reply-list reply-list-<%= dom_id comment %>">
        <div class="reply-comment reply-comment-<%= dom_id comment %>" id="reply-comment-<%= dom_id comment %>">
            <% Micropost.where(micropost_id: comment.id).reverse_each do |comment|%>
                <%= render 'shared/reply', comment: comment %>
            <%end%>
        </div>
        <div class="box-reply box-reply-<%= dom_id comment %> box-rep-cmt box-rep-form">
            <%= render 'shared/reply_form', micropost: comment, comment: @micropost %>
        </div>
        <div class="box-edit box-edit-<%= dom_id comment %> box-edit-cmt box-edit-form">
            <%= render 'shared/edit_form', micropost: comment, comment: @micropost %>
        </div>
    </div>
</div>
