<div class="box-detail-total-react" id="box-detail-total-react-<%= micropost.id %>">
  <div class="list-user-react" id="list-user-react-<%= micropost.id %>">
    <%= render "reacts/total_user_react", micropost: micropost%>
  </div>
  <div class="box-total-react">
    <% micropost.reacts.last(3).reverse_each do |icon|%>
      <% emotions.each do |item|%>
        <% if item[:emotion] === icon.action %>
          <img class="total-button-icon" src="/assets/<%= item[:image] %>" alt="icon">
        <% end %>
      <% end %>
    <% end %>
    <% if micropost.reacts.count > 0 %>
      <span class="title-total-react">
        <%= micropost.reacts.count %>
      </span>
    <% end %>
  </div>
</div>
